.fondo-modal-imagen {
    background-color: rgba(0, 0, 0, 0.4);
    left: 0px;
    height: 100px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99999;
}

.oculto {
    display: none;
}